<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>Водород</title>
  <link rel="stylesheet" type="text/css" href="{{ url_for('static',filename='styles/null.css') }}">
  <link rel="stylesheet" type="text/css" href="{{ url_for('static',filename='styles/general.css') }}">
  <link rel="stylesheet" type="text/css" href="{{ url_for('static',filename='styles/ipp.css') }}">
</head>
<body>
  <div class="b-page__line">
    <div class="b-head">
      <h1 class="b-head__path blue">VODOROD IP</h1>
    </div>
    <div class="b-main">
      {% for type in product_types %}
        <a href="/ipp/list/{{ type.id }}" class="b-main__gtype">
          <div class="b-gtype__img">
            <img class="b-img" style="max-width: 15%;" src="{{ url_for('static', filename='data/' + type.photo) }}">
          </div>
          <p>{{ type.name.upper() }}</p>
        </a>
      {% endfor %}
    </div>
  </div>
</body>
</html>