<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>Водород</title>
  <link rel="stylesheet" type="text/css" href="{{ url_for('static',filename='styles/null.css') }}">
  <link rel="stylesheet" type="text/css" href="{{ url_for('static',filename='styles/general.css') }}">
  <link rel="stylesheet" type="text/css" href="{{ url_for('static',filename='styles/ipp.css') }}">
</head>
<body>
   <div class="b-page__line">
    <div class="b-head">
      <a href="ipp_global_type.html" class="b-head__path blue">
        <h1>VODOROD IP</h1>
      </a>
      <img class="b-head__arrow" src="{{ url_for('static',filename='data/arrow.png') }}">
      <h1 class="b-head__path blue">ЭЛЕКТРОНИКА</h1>
    </div>
    <div class="b-main">
      <a href="ipp_create.html" class="b-main__type">
        <div class="b-type__img">
          <img class="b-img" src="{{ url_for('static',filename='data/phone.png') }}">
        </div>
        <p>Смартфоны</p>
      </a>
      <a href="ipp_create.html" class="b-main__type">
        <div class="b-type__img">
          <img class="b-img" src="{{ url_for('static',filename='data/phone.png') }}">
        </div>
        <p>Смартфоны</p>
      </a>
      <a href="ipp_create.html" class="b-main__type">
        <div class="b-type__img">
          <img class="b-img" src="{{ url_for('static',filename='data/phone.png') }}">
        </div>
        <p>Смартфоны</p>
      </a>
      <a href="ipp_create.html" class="b-main__type">
        <div class="b-type__img">
          <img class="b-img" src="{{ url_for('static',filename='data/phone.png') }}">
        </div>
        <p>Смартфоны</p>
      </a>
      <a href="ipp_create.html" class="b-main__type">
        <div class="b-type__img">
          <img class="b-img" src="{{ url_for('static',filename='data/phone.png') }}">
        </div>
        <p>Смартфоны</p>
      </a>
      <a href="ipp_create.html" class="b-main__type">
        <div class="b-type__img">
          <img class="b-img" src="{{ url_for('static',filename='data/phone.png') }}">
        </div>
        <p>Смартфоны</p>
      </a>
      <a href="ipp_create.html" class="b-main__type">
        <div class="b-type__img">
          <img class="b-img" src="{{ url_for('static',filename='data/phone.png') }}">
        </div>
        <p>Смартфоны</p>
      </a>
    </div>
  </div>
</body>
</html>