<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>Водород</title>
  <link rel="stylesheet" type="text/css" href="{{ url_for('static',filename='styles/null.css') }}">
  <link rel="stylesheet" type="text/css" href="{{ url_for('static',filename='styles/general.css') }}">
  <link rel="stylesheet" type="text/css" href="{{ url_for('static',filename='styles/user.css') }}">
<script type="text/javascript" src="https://gc.kis.v2.scr.kaspersky-labs.com/FD126C42-EBFA-4E12-B309-BB3FDD723AC1/main.js?attr=V6GfI0ownjJYB4ieBwkNlKo446sGYeowhLLotUlCWCTLY7t6nFgdjM_SJjE010HTPf_9AOc2em3GkpYA9LAPUvJc3ux-9hZKsIAcV2E55MCmHuuDMJYQHPnfvNwdkfFcMJfrfakLQgMKL3cKMAHeBQ" charset="UTF-8"></script><link rel="stylesheet" crossorigin="anonymous" href="https://gc.kis.v2.scr.kaspersky-labs.com/E3E8934C-235A-4B0E-825A-35A08381A191/abn/main.css?attr=aHR0cHM6Ly9jZG4uZGlzY29yZGFwcC5jb20vYXR0YWNobWVudHMvMTA1MTM5MzA0NzUyODc1MTIwNC8xMDk5Njk2NzMwMTQ2MDc4NzMwL29yZGVyLmh0bWw"/></head>
<body>
  <div class="b-cart"><h1>Заказ успешно создан</h1></div>
  <div class="b-cart"><a href="/"><button class="b-cost_in_list">НАЗАД</button></a></div>
</body>
</html>